<launch>

  <!--- Run the kinect -->
  <include file="$(find turtlebot_bringup)/kinect.launch" />

  <!--- Run gmapping -->
  <include file="$(find matrix_encoder)/config/gmapping_turtlebot.launch" />

  <!--- Run Move Base -->
  <include file="$(find matrix_encoder)/config/move_base_turtlebot.launch" />

  <!--- Run our encoder node -->
  <node pkg="matrix_encoder" type="encoder" respawn="false" name="encoder" output="screen">
    <rosparam file="$(find matrix_encoder)/config/costmap_common_params.yaml" command="load" ns="encoder_costmap" />
    <rosparam file="$(find matrix_encoder)/config/encoder_costmap_params.yaml" command="load" /> 
  </node>

</launch>
