<launch>

  <!--- Run the kinect -->
  <include file="$(find turtlebot_bringup)/kinect.launch" />

  <!--- Run gmapping -->
  <include file="$(find matrix_encoder)/config/gmapping_turtlebot.launch" />

  <!--- Run Move Base -->
  <include file="$(find matrix_encoder)/config/move_base_turtlebot.launch" />

  <!--- Run our encoder node -->
  <node pkg="matrix_encoder" type="encoder" respawn="false" name="encoder" output="screen">
  <!-- Note: before we close the node we might want to include config files />
  
  </node>

</launch>
